<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "sv", :media => "all" %>
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv-printshiv.min.js"></script>
  <title>Shadowverse</title>
</head>

<body>
<!--シャドウバースのフレーム-->
<div class="sv_frame">
  <%= image_tag 'sv_frame.png' %>
</div>
<!---->

<!--コスト-->
<div class="sv_cost">
  <h1><%= @data[:cost] %></h1>
</div>
<!---->

<!--攻撃力-->
<div class="sv_at">
  <h1><%= @data[:at] %></h1>
</div>
<!---->

<!--体力-->
<div class="sv_hp">
  <h1><%= @data[:hp] %></h1>
</div>
<!---->

<!--フレームの名前-->
<div class="sv_frame_name">
  <p><%= @data[:nickname] %>/<%= @picture.name %></p>
</div>
<!---->

<!--フレームの画像-->
<div class="sv_frame_img">
  <%= image_tag @picture.photo.url %>
</div>
<!---->

<!--説明欄の名前-->
<div class="sv_name">
  <p><%= @picture.name %></p></p>
</div>
<!---->

<!--説明欄のクラス-->
<div class="sv_class">
  <p><%= @data[:class] %></p>
</div>
<!---->

<!--説明欄の進化前攻撃力-->
<div class="sv_be_at">
  <h1><%= @data[:at] %></h1>
</div>
<!---->

<!--説明欄の進化後攻撃力-->
<div class="sv_af_at">
  <h1><%= @data[:hp] %></h1>
</div>
<!---->

<!--説明欄の進化前体力-->
<div class="sv_be_hp">
  <h1><%= @data[:at_af] %></h1>
</div>
<!---->

<!--説明欄の進化後体力-->
<div class="sv_af_hp">
  <h1><%= @data[:hp_af] %></h1>
</div>
<!---->

<!--説明欄の能力 1-->
<div class="sv_power01">
  <p><span><%= @data[:ability] %></span>　<%= @data[:cont] %></p>
</div>
<!---->

<!--説明欄の能力 2-->
<div class="sv_power02">
  <p><%= @data[:sec_ability] %></p>
</div>
<!---->

</body>
</html>
